*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculatorbox{
    background-color: rgb(37, 33, 33);
    height: 600px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: 15px;
}

#result{
    grid-column: span 4;
    height: 70px;
    font-size: 35px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    box-shadow: 0 0.7rem rgb(58, 54, 54);
}

.number{
    height: 72px;
    width: 72px;
    border-radius: 30%;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 25px;
    font-weight: 900;
    justify-self: center;
}

.operator{
    height: 72px;
    width: 72px;
    border-radius: 30%;
    color: orange;
    background-color: black;
    border: 2px solid white;
    font-size: 32px;
    font-weight: 600;
    justify-self: center;
}

.clear{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    color: white;
    background-color: orange;
    border: 2px solid white;
    font-size: 25px;
    justify-self: center;
}

.equal{
    grid-row: span 2;
    height: 95%;
    width: 70px;
    border-radius: 20px;
    color: white;
    background-color: orange;
    border: 2px solid white;
    font-size: 28px;
    font-weight: 600;
    justify-self: center;
}